<launch>
  <!-- Load parameters into the parameter server -->
  <param name="use_sim_time" value="true"/>

  <arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/>
  <arg name="robot_name" default="edo"/>
  <arg name="origin_xyz" default="'0 0 0'"/>
  <arg name="origin_rpy" default="'0 0 0'"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find edo)/urdf/edo.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name) origin_xyz:=$(arg origin_xyz) origin_rpy:=$(arg origin_rpy)" />

  <group ns="$(arg robot_name)">
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>
  </group>

  <remap from="/joint_states" to="/edo/joint_states"/>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="joint_state_publisher_gui" value="true"/>
  </node> -->

  <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="jnt_st_pub" /> -->

  <!-- <arg name="joint_state_publisher_gui" default="true" /> -->
  <arg name="rvizconfig" default="$(find edo)/rviz/urdf.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- Run the kinematic simulator -->
  <node pkg="kinsim_2link_planar" type="kinsim_2link_planar_node" name="kinsim_2link_planar">
    <rosparam param="q1_initial"> 0.7840</rosparam>
    <rosparam param="q2_initial">-1.5708</rosparam>
    <rosparam param="q3_initial">1.5708</rosparam>
  </node>

  <!--- Run planner_joint node -->
  <node pkg="controller_2link_planar" type="planner_cartesian" respawn="false" name="planner_cartesian" output="screen">
    <rosparam file="$(find controller_2link_planar)/config/planner_cartesian_params.yaml" command="load" />
  </node>
</launch>
